.site-list {
  list-style: none;
}

.site-list__link {
  display: block;
  padding: 20px;
  font-size: $font-size-large;
  line-height: 40px;
  font-weight: 700;
  text-align: center;

  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  background-color: $lightgreyblue;
  color: $white;
  text-transform: uppercase;
}
